@media only screen and (min-width: 1000px) {

    #desktop-about {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }

    #mobile-about {
        display: none;
    }
/* doesnt work on github pages? */
    .fas {
        font-size: 6rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    .content-div {
        height: 85%;
    }

    #item1 {
        width: 50%;
        max-width: 500px;
    }

    #item2 {
        max-width: 900px;
    }

    .progress-bar {
        height: 1.4rem;
        width: 80%;
    }
}
