*, *::before, *::after {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* ANIMATIONS */
/* animate nav toggle */
@keyframes dropdown {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    1% {
      display: block;
      opacity: 0;
      transform: rotateX(-20deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
}

/* REUSABLE CLASSES */
.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    background: none;
    border: none;
    cursor: pointer;
}

.fas {
    color: rgba(174, 142, 142, 0.532);
    font-size: 4rem;
}

.fab {
font-size: 3rem;
}

/* temp */
.fas:active {
    color: rgb(144, 138, 138);
}

.is-hidden {
    visibility: hidden;
}

.is-none {
    display: none;
}

/* SPECIFIC STYLING */

html, body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    overflow:hidden;
    background: rgb(14, 14, 14);

}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

h2 {
    font-family: 'Cairo', sans-serif;
}

nav {
    position: fixed;
    right: 0%;
    z-index: 3;
}

#navbarToggle {
    position: absolute;
    right: 0;
    margin: 1rem;
}

#indicatorContainer {
    flex-direction: column;
    animation-name: dropdown;
    transform-origin: top center;
    animation-duration: 0.8s;
    margin-top: 6rem;
}

.indicator {
    text-align: right;
    font-family: 'Cairo', sans-serif;
    color:rgb(200, 200, 200);
    font-size: 2rem;
    padding: 0 1rem;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

.active {
    /* temp */
    background: rgba(72, 72, 72, 0.635);
    color: rgb(200, 200, 200);
}

ul {
    list-style: none;
    width: 100%;
}

#layout {
    width: 100%;
    height: 100%;
}

.layout-section {
    display: flex;
    width: 100%;
    height: 100%;
}

.layout-button-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0%;
    width: 100%;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
}
    
.carousel-section {
    width: 100%;
    display: flex;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 300ms opacity ease-in-out;
    transition-delay: 400ms;
}

.carousel-section[data-active] {
    opacity: 1;
    transition-delay: 500ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    top: 150%;
    transform: translateY(-50%);
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

#start > div {
    width: 100%;
    height: 80%;
}

.image {
    width: 75%;
    height: 75%;
    object-fit: scale-down;
}

.content-div {
    background: rgba(220, 213, 213, 0.784);
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.content-text {
    align-items: center;
}



.content-text > p {
    margin-bottom: 1rem;
}

.progress-bar {
    width: 95%;
    height: 2rem;
    background-color: rgba(51, 51, 51, 0.456);
    border-radius: 1rem;
}

.progress-bar > div {
    border-radius: 1rem;
    height: 100%;
    background-color: rgb(95, 1, 126);
}

.html5 {
    width: 80%;
}
.css3 {
    width: 60%;
}
.ux {
    width: 70%;
}
.javascript {
    width: 45%;
}
.photoshop {
    width: 78%;
}
.m-office {
    width: 70%;
}

.tablet {
    display: none;
}