@media only screen and (min-width: 600px) {
    
    .tablet {
        display: block;
    }

    #indicatorContainer {
        display: flex;
        flex-direction: row;
        margin-top: 0%;
    }

    .indicator {
        padding: 0rem 2rem;
    }

    #navbarToggle {
        display: none;
    }
}