.indicator-container {
    max-width: 4rem;
}

/* nav link styling to indicate active section */
.section-indicator {
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
    font-size: 1.2rem;
}

/* the section-indicator with this class shows which section is being viewed.*/ 
.section-indicator.current-section {
    background: rgba(255, 0, 0, 0.75);
}

/* website layout container */
.slide {
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
}
/* div */
.slide__section-seperator {
    /* temporary */
    background: lightgreen ;
    /* necessary */
    height: 100%;
    position: relative;
    
}
/* ul */
.section-track {
    padding: 0;
    margin:0;
    list-style: none;
    transition: transform 250ms ease-in;
}
/* list item setting size for div */
.slide-section {
    position: absolute;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}
/* content container */
.content {
    width:100%;
    height: 100%;
    z-index: 200;
}
/* test */
.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* position the buttons */
.slide-button-up {
    position: fixed;
    top: 20%;
    z-index: 100;
    margin-left: 50%;
    transform: translateX(-50%);
}

.slide-button-down {
    position: fixed;
    bottom: 0%;
    z-index: 100;
    margin-left: 50%;
    transform: translateX(-50%);
}

 /*bootstrap icons*/
.bi {font-size: 3rem;}

.is-hidden {display: none;}